<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<link href='https://fonts.googleapis.com/css?family=Sofia'
	rel='stylesheet'>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section
		class="banner4 d-flex justify-content-center align-items-center">
		<div class="text-center mt-5">
			<h1 class="font-weight-bold text-serif mt-4"
				style="color: darkkhaki; font-family: helvetica">Oops,something went wrong </h1>
			<div class="divider mt-0"></div>
			<pre class="text-white text-serif">Start collecting your contacts in very smarter way. We provide very convenient and efficient way of handling contacts
Encapsulating cutting-edge era for smoother maintenance and diagnosis to whom , who absorb details for a short period</pre>
			<a
				class="btn btn-outline-warning btn-lg font-italic text-secondary mt-4"
				role="button" th:href="@{/signup}">Let's Get Started</a>
			<div class="container mt-3">
				<p class="text-center small">
					Already have an account! <a href="#" th:href="@{/login}">Sign
						in here</a>.
				</p>
			</div>
		</div>


		<script>

</script>
	</section>
</body>
</html>