<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<link href='https://fonts.googleapis.com/css?family=Sofia'
	rel='stylesheet'>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section
		class="banner4 d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold text-serif text-danger h1"
				style="font-family: helvetica">Something went wrong...</h1>
			<div class="divider mt-0"></div>
			<table class="table table-dark">
				<thead>
					<tr class="bg-danger">
						<th scope="row">${expmsg}</th>
					</tr>
				</thead>
				</table>
		</div>


		<script>

</script>
	</section>
</body>
</html>